body{
	background-color:blue;
	font-weight: bold
}

.box-1{

	border-right: 5px red solid;
	border-left:5px red solid;
	border-top:5px red solid;
	border-top:5px red solid;

	border: 5px red solid;
}

a{color:red;}